---
---
<section id="about" name="#about">
    <div id="about__photo_container">
        <div id="about__photo" />
    </div>
    <div id="about__desc">
        <h1>Hola, me llamo Ceferino</h1>
        <p>Soy <b>Ceferino</b>, soy un nekino muy bonico. Me gusta mucho ver animu,
        ver vídeos de <b>YouTube</b> y los streamings de <b>Twitch</b> de Ibai,
        Illojuan, AuronPlay y otr@s de anime.</p>
        <p>Mi dueña dice que soy la cosa más achuchable del mundo, y cada vez que
        maullo, ella se pone muy cariñosa. Cuando ella está muy de bajona, me
        acurruco a su vera para aliviar su dolor.</p>
        <p>Me gusta también ver a VTubers japonesas haciendo tontás, cantando
        canciones de J-POP y de anime, y de "just-chatting".</p>
    </div>
</section>

<style>
    section {
        padding: 4em;
    }

    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about__photo_container {
        overflow: hidden;
        width: 417px;
        height: 417px;
        border-radius: 100%;
        max-width: 100%;
        margin: 2em 0;
    }

    #about__photo {
        background: url("/neko.webp");
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        transition: .25s ease-in-out;

        &:hover {
            transform: scale(1.3);
        }
    }

    #about__photo img {
        border-radius: 100%;
    }

    #about__desc {
        & h1 {
            text-align: center;
        }
    }

    @media (width < 720px) {
        #about__photo img {
            width: 100%;
        }
        
        #about__photo_container {
            height: 300px;
        }
    }
</style>
