---

---

<header>
    <nav>
        <div id="logo">LOGO</div>
        <div id="mobile__navmenu">
            <span></span>
        </div>
        <div id="nav__links">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#about">Acerca de mí</a></li>
                <li><a href="#contact">Contacto</a></li>
            </ul>
        </div>
    </nav>
</header>

<style>
    header {
        padding: 2em;
        position: fixed;
        width: 100%;
        background-color: #2236;
        backdrop-filter: blur(5px);
        box-shadow: 2px 0 2em #0006;
        z-index: 5;
    }

    #logo {
        font-weight: 900;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    #nav__links ul {
        display: flex;
        gap: 2em;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #mobile__navmenu {
        display: none;

        & span,
        & span::before,
        & span::after {
            content: "";
            background-color: #111;
            height: 5px;
            border-radius: 1em;
            width: 45px;
            display: block;
            position: absolute;
            transition: all 0.2s ease-in-out;
        }

        & span {
            margin-top: 0.5em;

            &::before {
                margin-top: 0.75em;
            }

            &::after {
                margin-top: -0.75em;
            }
        }

        & span.activo {
            transform: rotate(225deg);

            &::before {
                transform: rotate(270deg);
                margin-top: 0;
            }

            &::after {
                opacity: 0;
            }
        }
    }

    @media (width < 720px) {
        #nav__links {
            position: absolute;
            width: 100%;
            left: 0;
            top: 1px;

            & ul {
                display: block;
                opacity: 0;
                list-style: none;
                margin: 0;
                padding: 0;
                position: absolute;
                background-color: #fffb;
                backdrop-filter: blur(5px);
                left: 0;
                top: 100px;
                width: 100%;
                height: 100dvh;
                transition: all 0.2s ease-in-out;
                transform: translateX(-35em);
            }

            & li {
                padding: 1em 1.5em;
                transition: transform 0.2s ease-in-out;
                font-size: 1.25em;
            }

            & ul.activo {
                opacity: 1;
                transform: translateX(0);
            }
        }

        #mobile__navmenu {
            display: flex;
            cursor: pointer;
            width: 40px;
        }
    }

    @media (prefers-color-scheme: dark) {
        header {
            background-color: #223c;
        }

        #nav__links {
            & ul {
                background-color: #223e;
            }
        }

        #mobile__navmenu {
            & span,
            & span::before,
            & span::after {
                background-color: #eee;
        }

    }

</style>
<script>
    const mobileBtn = document.querySelector("#mobile__navmenu");
    const mobileSpan = document.querySelector("#mobile__navmenu span");
    const navLinksUl = document.querySelector("#nav__links ul");
    const navLinks = document.querySelectorAll("#nav__links a");
    const body = document.body;

    mobileBtn.addEventListener("click", () => {
        mobileBtn.classList.toggle("activo");
        mobileSpan.classList.toggle("activo");
        navLinksUl.classList.toggle("activo");
        mobileBtn.classList.contains("activo")
            ? (body.style.overflowY = "hidden")
            : (body.style.overflowY = "");
    });

    navLinks.forEach(enlace => {
        enlace.addEventListener("click", () => {
            mobileBtn.classList.remove("activo");
            mobileSpan.classList.remove("activo");
            navLinksUl.classList.remove("activo");
            mobileBtn.classList.contains("activo")
            ? (body.style.overflowY = "hidden")
            : (body.style.overflowY = "");
        })
    })
</script>
